<%- include('partials/head') %>
<%- include('partials/header') %>
<%- include('partials/_msg') %>
<section class="row align-items-center mt-4" style="height: 90vh;">
  <div class="ps-5 pe-5 col-md-6">
    <h1 style="font-weight: 600;">Crie sua loja online</h1>
    <p>Sem custo de ativação nem mensalidade.</p>
    <a href="/for/cadastro"><button class="btn btn-success">Abra sua loja</button></a>
  </div>
  <div class="ps-5 pe-5 col-md-6">
    <img src="img/lojinha.png" alt="banner de um computador com um exemplo de loja" class="img-fluid">
  </div>
</section>

<section class="row align-items-center mb-5">
  <div class="ps-5 pe-5 mb-4  col-md-6">
      <img src="img/nosso-grupo.jpeg" alt="" class="img-fluid rounded-4">
  </div>
  <div class="ps-5 pe-5 mb-4 col-md-6">
    <h2>Sobre nós</h2>
    <p>
      Somos uma equipe de alunos dedicados a desenvolver um e-commerce como parte do nosso TCC. Nosso objetivo é criar uma plataforma que conecte compradores e vendedores. Com nosso projeto, buscamos contribuir para o avanço do mercado eletrônico, oferencendo uma solução abrangente e atraente para as necessidades dos consumidores modernos.
    </p>
  </div>
</section>



<section class="row align-items-center mb-5 flex-row-reverse">
  <div class="ps-5 pe-5 mb-4 col-md-6">
    <img src="img/close-up-sorridente-mulher-recebendo-pacote.jpg" alt="" class="img-fluid rounded-4">
  </div>
  <div class="ps-5 pe-5 mb-4 col-md-6">
    <h2>Por que escolher nosso Marketplace?</h2>
    <p>Processo de venda simplificado: Nossa plataforma foi projetada para tornar o processso de venda o mais simples possível. Cuidamos dos detalhes técnicos para que você possa se concentrar no que faz de melhor: oferecer produtos excepcionais aos seus clientes.</p>
  </div>  
</section>
<section class="row align-items-center mb-5">
  <div class="ps-5 pe-5 mb-4 col-md-6">
    <img src="img/ecommerce.jpg" alt="" class="img-fluid rounded-4">
</div>
  <div class="ps-5 pe-5 mb-4 col-md-6">
    <h2>Como funciona?</h2>
    <p>
      Um marketplace é como um shopping virtual, onde você encontra diversos vendedores em um só lugar. Imagine poder comprar roupas, eletrônicos e até mesmo contratar serviços, tudo em um único site. Os vendedores se beneficiam alcançando um público maior e os compradores têm mais opções e conveniência. É a combinação perfeita entre variedade, praticidade e bons negócios!</p>
  </div>
  
</section>

<%- include('partials/footer') %>