<%- include('partials/head') %>
<%- include('partials/header') %>
<%- include('partials/_msg') %>
<section class="row align-items-center mt-4">
  <div class="p-5 col-md-6">
    <h1 style="font-weight: 600;">Crie sua loja online</h1>
    <div class="ms-5">
      <p>Sem custo de ativação nem mensalidade.</p>
      <a href="/for/cadastro"><button class="btn btn-success">Abra sua loja</button></a>
    </div>
  </div>
  <div class="p-3 col-md-6 d-none d-md-block">
    <img src="img/computador_banner.png" alt="banner de um computador com um exemplo de loja" class="img-fluid">
  </div>
</section>


<section class="row align-items-center">
  <div class="p-5 col-md-6">
      <img src="https://img.freepik.com/fotos-gratis/grupo-de-executivos-de-negocios-sorrindo-camera_1170-1905.jpg?w=1380&t=st=1687481834~exp=1687482434~hmac=ad0ca90f38721820dc79ad16ed3f899fed9ad43dae740a64944bd05ce6e2d259" alt="" class="img-fluid rounded-4">
  </div>
  <div class="p-5 col-md-6">
    <h2>Sobre nós</h2>
    <p>
      Somos uma equipe de alunos dedicados a desenvolver um e-commerce como parte do nosso TCC. Nosso objetivo é criar uma plataforma que conecte compradores e vendedores. Com nosso projeto, buscamos contribuir para o avanço do mercado eletrônico, oferencendo uma solução abrangente e atraente para as necessidades dos consumidores modernos.
    </p>
  </div>
</section>



<section class="row align-items-center">
  <div class="p-5 col-md-6">
    <h2>Por que escolher nosso Marketplace?</h2>
    <p>Processo de venda simplificado: Nossa plataforma foi projetada para tornar o processso de venda o mais simples possível. Cuidamos dos detalhes técnicos para que você possa se concentrar no que faz de melhor: oferecer produtos excepcionais aos seus clientes.</p>
  </div>
  <div class="p-5 col-md-6">
      <img src="https://img.freepik.com/fotos-gratis/close-up-mulher-recebendo-pacote_23-2149103392.jpg?w=1380&t=st=1687481942~exp=1687482542~hmac=80ec478b3abf2947061d0a411c728a5675b850b5afc61dc33298f6ce5c6ed38e" alt="" class="img-fluid rounded-4">
  </div>
  
</section>
<section class="d-flex justify-content-between azul">
  <div class="p-5">
    <h2>Como funciona?</h2>
    <p>
      Um marketplace é como um shopping virtual, onde você encontra diversos vendedores em um só lugar. Imagine poder comprar roupas, eletrônicos e até mesmo contratar serviços, tudo em um único site. Os vendedores se beneficiam alcançando um público maior e os compradores têm mais opções e conveniência. É a combinação perfeita entre variedade, praticidade e bons negócios!</p>
  </div>
  
</section>

<%- include('partials/footer') %>