<%- include('partials/head') %>
<%- include('partials/header') %>

<h2 class="mt-5 mb-5">Home</h2>
<!-- Carrossel -->
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="5000">
      <img src="/img/carnaval-1.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="/img/celulares-1.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="/img/home-1.webp" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- Lojas -->
<h2 class="mt-5 mb-5">Lojas</h2>
<!-- Fazer automático com banco -->
<div class="card col-6 col-md-3">
  <a href="/" class="text-decoration-none text-dark">
      <img src="/img/mercado-livre-foto.png" class="img-fluid p-2" alt="..." />
      <div class="card-body">
          <h5>Loja 1</h5>
          <p>Descrição sobre a loja.</p>
          <button class="btn btn-success">Ver mais</button>
      </div>
  </a>
</div>
<!-- Produtos -->
<h2 class="mt-5 mb-5">Produtos</h2>
<!-- Fazer automático com banco -->
<div class="card col-6 col-md-3">
  <a href="/produto" class="text-decoration-none text-dark">
      <img src="/img/gin.jpg" class="img-fluid p-2" alt="..." />
      <div class="card-body">
          <h5>Produto 1</h5>
          <p>Descrição sobre o produto.</p>
          <button class="btn btn-success">Ver mais</button>
      </div>
  </a>
</div>

<%- include('partials/footer') %>