:root {
 --cor-principal: #FFFFFF;
 --cor-destaque:#ff5825;
 --cor-secundaria: #011627;
}

.branco{
 background: var(--cor-principal);
}
.cor-destaque{
 background-color: var(--cor-destaque);
}
.cor-secundaria{
 background-color:var(--cor-secundaria);
}

.cartao{
 height: 25rem;
 margin-top: 2rem;
}

.img-produto{
  width: 100%;
  height: 15rem;
  object-fit: cover;
}

@media (max-width: 1200px)
{

}
@media (max-width: 750px)
{
  .img-produto{
   height: 12.5rem;
  }
}
@media (max-width: 350px)
{
  .img-produto{
   height: 12rem;
  }
}

a,h1,h2,h3,h4,h5,h6,p,label,button,small,span{
 font-family: 'Poppins', sans-serif;
}

.editar{
  height: 90vh;
  width: 80%;
}