:root {
 --cor-principal: #FFFFFF;
 --cor-destaque:#ff5825;
 --cor-secundaria: #011627;
}

.branco{
 background: var(--cor-principal);
}
.cor-destaque{
 background-color: var(--cor-destaque);
}
.cor-secundaria{
 background-color:var(--cor-secundaria);
}

a,h1,h2,h3,h4,h5,h6{
 font-family: 'Poppins', sans-serif;
}
p,label,button,small{
 font-family: 'Roboto', sans-serif;
}