<%- include('../partials/head') %> 
<%- include('../partials/header') %>

<h2 class="mt-5 mb-5">Meu carrinho</h2>
<!-- Banco de dados -->
<div class="card container">
  <h2 class="mt-4">Produtos</h2>
  <form action="post" >
    <div class="card mt-4">
      <h3 class="ms-4 mt-4">Loja 1</h3>

      <!-- Produtos -->
      <div class="m-2 m-md-4 row">
        <div class="col-md-4">
          <img src="/img/gin.jpg" alt="" class="img-fluid" />
        </div>
        <div class="col-md-8">
          <h3>$Nome do produto$</h3>
          <div class="mt-4 d-flex-md">
            <label for="qtd">Quantidade: </label>
            <input type="text" name="qtd" class="w-50 form-control" />
            <label>Preço: </label>
            <input class="w-50 form-control" />
          </div>
        </div>
      </div>

      <p class="ms-4 fs-4">Preço: 99.99</p>
    </div>

    <div class="card mt-4">
      <h3 class="ms-4 mt-4">Loja 1</h3>

      <!-- Produtos -->
      <div class="m-4 row">
        <div class="col-md-4">
          <img src="/img/gin.jpg" alt="" class="img-fluid" />
        </div>
        <div class="col-md-8">
          <h3>$Nome do produto$</h3>
          <div class="mt-4 d-flex-md">
            <label for="qtd">Quantidade: </label>
            <input type="text" name="qtd" class="w-50 form-control" />
            <label for="preco">Preço: </label>
            <input type="text" name="preco" class="w-50 form-control" />
          </div>
        </div>
      </div>

      <p class="ms-4 fs-4">Preço: 99.99</p>
    </div>

    <!-- asdsd -->

    <div class="mt-4 row">
      <h4 class="col-md-4">Total do Pedido: 199.98</h4>
      <div class="d-flex col-md-4 offset-md-4">
        <p class="me-3">Deseja excluir o pedido?</p>
        <button class="btn btn-danger" type="button">Excluir</button>
      </div>
    </div>
    <button class="btn btn-success mt-4 btn-lg" type="submit">
      Efetuar Pedido
    </button>
  </form>
</div>

<%- include('../partials/footer') %>
