<%- include('../partials/head') %>
<%- include('../partials/header') %>

<div class="card mt-5">
    <div class="card-body p-5">
        <h1 class="text-center mt-4">Login</h1>
        <form action="/login" method="post" class="container mt-10 col-md-6 offset-md-3 ">
            <div>
                <label for="email">E-mail</label>
                <input type="text" class="mt-2 form-control" name="email" id="email">
            </div>
            <div>
                <label for="senha">Senha</label>
                <input type="text" class="mt-2 form-control" name="senha" id="senha">    
            </div>    
            <button type="submit" class="btn btn-success mt-4">Entrar</button>
        </form>
        <div>
            <!-- <a href=""><small>Esqueceu sua senha?</small></a><br> -->
            <a href="/cliente/cadastro"><small>Deseja criar uma conta como cliente?</small></a><br>
            <a href="/fornecedor/cadastro"><small>Deseja criar uma conta como fornecedor?</small></a><br>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>