<%- include('../partials/head') %>
<%- include('../partials/header') %>

<h2 class="mt-5">meus Produtos</h2>



<a href="/produto" class="text-light text-decoration-none">
    <div class="card text-bg-primary" style="width: 18rem;">
      <img src="/img/gin.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Produto 1</h5>
        <p class="card-text">Descrição sobre o produto.</p>
        <a href="#" class="btn btn-primary">Comprar</a>
      </div>
    </div>
  </a>

<%- include('../partials/footer') %>