<%- include('../partials/head') %> 
<%- include('../partials/header') %>

<h2 class="mt-5">Meus produtos</h2>

<div>
    <div class="d-flex flex-wrap gap-2 gap-sm-3 gap-md-4">
        <div class="card cartao">
            <a href="/produto" class="text-decoration-none text-dark">
                <img src="/img/gin.jpg" class="img-fluid p-2" alt="..." />
                <div class="card-body">
                    <h5>Produto 1</h5>
                    <p>Descrição sobre o produto.</p>
                    <button class="btn btn-success">Ver mais</button>
                </div>
            </a>
        </div>
        <div class="card cartao">
            <a href="/produto" class="text-decoration-none text-dark">
                <img src="/img/gin.jpg" class="img-fluid p-2" alt="..." />
                <div class="card-body">
                    <h5>Produto 1</h5>
                    <p>Descrição sobre o produto.</p>
                    <button class="btn btn-success">Ver mais</button>
                </div>
            </a>
        </div>
        <div class="card cartao">
            <a href="/produto" class="text-decoration-none text-dark">
                <img src="/img/gin.jpg" class="img-fluid p-2" alt="..." />
                <div class="card-body">
                    <h5>Produto 1</h5>
                    <p>Descrição sobre o produto.</p>
                    <button class="btn btn-success">Ver mais</button>
                </div>
            </a>
        </div>
        <div class="card cartao">
            <a href="/produto" class="text-decoration-none text-dark">
                <img src="/img/gin.jpg" class="img-fluid p-2" alt="..." />
                <div class="card-body">
                    <h5>Produto 1</h5>
                    <p>Descrição sobre o produto.</p>
                    <button class="btn btn-success">Ver mais</button>
                </div>
            </a>
        </div>
        <div class="card cartao">
            <a href="/produto" class="text-decoration-none text-dark">
                <img src="/img/gin.jpg" class="img-fluid p-2" alt="..." />
                <div class="card-body">
                    <h5>Produto 1</h5>
                    <p>Descrição sobre o produto.</p>
                    <button class="btn btn-success">Ver mais</button>
                </div>
            </a>
        </div>
        <div class="card cartao">
            <a href="/produto" class="text-decoration-none text-dark">
                <img src="/img/gin.jpg" class="img-fluid p-2" alt="..." />
                <div class="card-body">
                    <h5>Produto 1</h5>
                    <p>Descrição sobre o produto.</p>
                    <button class="btn btn-success">Ver mais</button>
                </div>
            </a>
        </div>
    </div>
</div>
<%- include('../partials/footer') %>
