<%- include('../partials/head') %>
<%- include('../partials/header') %>

<div class="container mt-5">
  <h1 >Política de Privacidade</h1>
  <p>A sua privacidade é importante para nós. Esta Política de Privacidade explica como coletamos, utilizamos, armazenamos e protegemos as informações pessoais dos usuários do nosso marketplace. Ao utilizar nossos serviços, você concorda com esta Política de Privacidade.</p>
  <ol>
    <li>
      <h5 class="mb-3">1. Informações Coletadas</h5>
      <ol type="a"class="mb-3">
        <li>Coletamos informações pessoais fornecidas por você, como nome, endereço de e-mail, número de telefone, endereço de entrega, para fins de registro, identificação e comunicação relacionada às transações.</li>
        <li>Também podemos coletar informações não pessoais, como dados demográficos e preferências, para melhorar a experiência do usuário e personalizar nosso marketplace.</li>
      </ol>
    </li>
    <li>
      <h5 class="mb-3">2. Uso das Informações</h5>
      <ol type="a"class="mb-3">
        <li>Utilizamos as informações coletadas para fornecer e aprimorar nossos serviços, processar transações, enviar comunicações relacionadas e fornecer suporte ao cliente.</li>
        <li>Podemos utilizar informações não pessoais de forma agregada e anônima para análise de dados, estatísticas e pesquisa de mercado.</li>
      </ol>
    </li>
    <li>
      <h5 class="mb-3">3. Compartilhamento de Informações</h5>
      <ol type="a"class="mb-3">
        <li>Não compartilhamos suas informações pessoais com terceiros, exceto quando necessário para fornecer os serviços solicitados ou quando exigido por lei.</li>
        <li>Podemos compartilhar informações não pessoais de forma agregada e anônima para fins de marketing, publicidade ou outros fins comerciais.</li>
      </ol>
    </li>
    <li>
      <h5 class="mb-3">4. Segurança</h5>
      <ol type="a"class="mb-3">
        <li>Implementamos medidas de segurança adequadas para proteger suas informações contra acesso não autorizado, alteração, divulgação ou destruição.</li>
        <li>No entanto, nenhuma transmissão de dados pela internet ou sistema de armazenamento eletrônico é totalmente seguro. Portanto, não podemos garantir a segurança absoluta das suas informações.</li>
      </ol>
    </li>
    <li>
      <h5 class="mb-3">5. Cookies e Tecnologias de Rastreamento</h5>
      <ol type="a"class="mb-3">
        <li>Utilizamos cookies e outras tecnologias de rastreamento para melhorar a funcionalidade do nosso marketplace e fornecer uma experiência personalizada.</li>
        <li>Você pode optar por desativar os cookies nas configurações do seu navegador, mas isso pode afetar a funcionalidade do nosso marketplace.</li>
      </ol>
    </li>
    <li>
      <h5 class="mb-3">6. Links para Sites de Terceiros</h5>
      <ol type="a"class="mb-3">
        <li>Nosso marketplace pode conter links para sites de terceiros. Não somos responsáveis pelas práticas de privacidade desses sites e recomendamos que você revise as políticas de privacidade deles.</li>
      </ol>
    </li>
    <li>
      <h5 class="mb-3">7. Alterações nesta Política</h5>
      <ol type="a"class="mb-3">
        <li>Reservamo-nos o direito de atualizar esta Política de Privacidade periodicamente. Quaisquer alterações entrarão em vigor após a publicação da versão atualizada no nosso marketplace.</li>
      </ol>
    </li>
  </ol>
  <p>Recomendamos que você leia a Política de Privacidade completa para obter informações detalhadas sobre como lidamos com suas informações pessoais.</p>
  <p>Se você tiver alguma dúvida ou precisar de assistência, entre em contato conosco através dos canais disponibilizados no rodapé.</p>
  <p>Data de vigência: 23/06/2023</p>
</div>

<%- include('../partials/footer') %>