<%- include('../partials/head') %>
<%- include('../partials/header') %>

<div class="container mt-5">
  <h1>Termos de Uso</h1>
  <p class="lead">Bem-vindo ao nosso marketplace! Ao utilizar nossos serviços, você concorda com os seguintes termos e condições:</p>
  <ol>
    <li>
      <h5 class="mb-3">1. Uso do Marketplace</h5>
      <ol type="a" class="mb-3">
        <li>Ao acessar e utilizar nosso marketplace, você concorda em cumprir todas as leis aplicáveis e se compromete a não utilizar nossos serviços para qualquer finalidade ilegal ou não autorizada.</li>
        <li>Você é responsável por todas as atividades realizadas em sua conta e concorda em manter suas informações de login seguras e confidenciais.</li>
      </ol>
    </li>
    <li>
      <h5 class="mb-3">2. Produtos e Transações</h5>
      <ol type="a" class="mb-3">
        <li>Nosso marketplace permite que vendedores listem seus produtos e compradores realizem transações.</li>
        <li>As informações sobre os produtos, incluindo descrições, preços e disponibilidade, são fornecidas pelos vendedores. Não nos responsabilizamos por quaisquer divergências ou problemas relacionados aos produtos.</li>
        <li>Ao realizar uma transação, você concorda em cumprir as políticas de pagamento, envio e devolução estabelecidas pelos vendedores.</li>
      </ol>
    </li>
    <li>
      <h5 class="mb-3">3. Responsabilidade</h5>
      <ol type="a" class="mb-3">
        <li>Nós nos esforçamos para manter nosso marketplace seguro e livre de erros, mas não garantimos sua disponibilidade contínua, precisão ou segurança.</li>
        <li>Não nos responsabilizamos por quaisquer danos, perdas ou prejuízos decorrentes do uso do nosso marketplace ou da confiança depositada nas informações nele contidas.</li>
      </ol>
    </li>
    <li>
      <h5 class="mb-3">4. Propriedade Intelectual</h5>
      <ol type="a" class="mb-3">
        <li>Todos os direitos de propriedade intelectual relacionados ao nosso marketplace são de nossa exclusiva propriedade ou licenciados para nós. Nenhuma parte do marketplace pode ser reproduzida, modificada ou utilizada sem nossa autorização prévia por escrito.</li>
      </ol>
    </li>
    <li>
      <h5 class="mb-3">5. Privacidade</h5>
      <ol type="a" class="mb-3">
        <li>Respeitamos sua privacidade e nos comprometemos a proteger suas informações pessoais. Consulte nossa Política de Privacidade para entender como coletamos, utilizamos e protegemos seus dados.</li>
      </ol>
    </li>
  </ol>
  <p>Estes são apenas termos gerais e se aplicam ao uso do nosso marketplace. Recomendamos que você leia os termos completos e as políticas específicas antes de utilizar nossos serviços.</p>
  <p>Se você tiver alguma dúvida ou precisar de assistência, entre em contato conosco através dos canais disponibilizados no rodapé.</p>
  <p>Data de vigência: 23/06/2023</p>
</div>



<%- include('../partials/footer') %>